<% user = current_user %>
<% if user %>
  <% today = Date.today %>
  <% start_of_week = today.beginning_of_week %>
  <% end_of_week = today.end_of_week %>
  <% days_of_week = (start_of_week..end_of_week) %>
  <table class="table">
    <tr>
      <th>Time/Day</th>
      <% (days_of_week).each do |d| %>
        <% if d.strftime("%A") == Date.today.strftime("%A") %>
          <th style="text-decoration: underline;"><%= d.strftime("%A") %></th>
        <% else %>
          <th><%= d.strftime("%A") %></th>
        <% end %>
      <% end %>
    </tr>
    <tr>
      <% (0..23).each do |hour| %>
      <tr>
        <td><%= "#{hour}:00" %></td>
        <% days_of_week.each do |d| %>
          <td data-controller="calendar-modal" data-action="click->calendar-modal#showModal" 
              data-calendar-modal-target="dateTimeInput">
              <span class="d-none"><%= d.strftime("%D")+"-"+hour.to_s %></span>
              <div class="modal fade" id="callModal<%= d.strftime("%D")+"-"+hour.to_s %>" data-target="calendar-modal.modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Schedule call</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <!-- Date and Time input fields -->
                      <label for="datetime">Date and Time:</label>
                      <input type="datetime-local" id="datetime" name="datetime">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" id="saveDateTime">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tr>
  </table>
<% end %>
